[submodule ".registry"]
	path = .registry
	url = https://github.com/urbaninstitute/universe
	branch = HEAD
[submodule "educationdata"]
	path = educationdata
	url = https://github.com/UrbanInstitute/education-data-package-r
[submodule "urbnmapr"]
	path = urbnmapr
	url = https://github.com/UrbanInstitute/urbnmapr
[submodule "urbnthemes"]
	path = urbnthemes
	url = https://github.com/UrbanInstitute/urbnthemes
